@font-face {
  font-family: LemonMilk;
  src: url('../assets/LemonMilk.otf') format("opentype")
}

@font-face {
  font-family: quicksand;
  src: url('../assets/Quicksand_Bold.otf') format("opentype");
}

@font-face {
  font-family: cavDreams;
  src: url('../assets/CaviarDreams.ttf') format("truetype");
}



//LIKE A LOT
//THIS IS HEADER FONT
@font-face {
  font-family: bebas;
  src: url('../assets/BEBAS.ttf') format("truetype");
}