//when I get the one I want, look at the nav bar and go change it in js

$mainBlue: #286da8;
//$mainBlue: #88bbd6;
//$mainBlue: #00ACE6;


$mainText: #ffffff;

$mainFont: bebas;

$secondaryFont: cavDreams;